<div class="field">
  <label>Host</label>
  <input type="text" name="host" value="{{host}}">
</div>
<div class="field">
  <label>Port</label>
  <input type="number" name="port" min="1" max="65535"  value="{{port}}">
</div>
<div class="field">
  <label>Username</label>
  <input type="text" name="username"  value="{{username}}">
</div>
<div class="field">
  <label>Password</label>
  <input type="password" name="password"  value="{{password}}">
</div>
<div class="field">
  <label>Database</label>
  <input type="text" name="database"  value="{{database}}">
</div>
