{{#each entries}}
<div class="tr {{logRowColor logLevel}}" data-origin="{{origin}}" data-message="{{message}}">
  <div class="td time">{{formatTime time}}</div>
  <div class="td level">{{logLevel}}</div>
  <div class="td origin">{{origin}}</div>
  <div class="td message"><div class="text">{{message}}</div>
    {{#if callerTop}}
      <table class="stacktrace">
        <thead>
          <tr>
            <td class="method"><i class="dropdown icon"></i>{{callerTop.method}}</td>
            <td class="file">{{callerTop.file}}</td>
          </tr>
        </thead>
        <tbody>
          {{#each caller}}
            <tr>
              <td class="method">{{method}}</td>
              <td class="file">{{file}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{/if}}
  </div>
</div>{{/each}}
